*.swp
*.o
*.so
*.a
*.dvi
y.output
lex.yy.c
y.tab.h
y.tab.c
/src/bin/fl/fl
/src/bin/blif2exe/blif2exe
/src/bin/ignore_signals/ignore_signals
/src/bin/fl/prefs.h
/src/bin/fl/prefs_ext.h
/src/bin/fl/abi_version.h
/bin/
/vosslib/
/isomatches/
.yosys*
TAGS